*{    
    margin: 0;
    padding: 0;
    border: 0;      
}

.cabecalho{
    text-align: center;
    background-color: rgb(61, 152, 212);
}

.slogan{
    width: 400px;
    height: 350px;
}

.cabecalho-link{
    text-decoration: none;
    font-size: 18px;
    padding: 5px 60px;
    color: #ffffff;

}
